<?xml version="1.0"?>
<!--
/**
 * @category Mulberry
 * @version 1.0.0
 * @package Mulberry_Warranty
 * @author Mulberry <support@getmulberry.com>
 * @copyright Copyright (c) 2021 Mulberry Technology Inc., Ltd (http://www.getmulberry.com)
 * @license http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<config>
    <modules>
        <Mulberry_Warranty>
            <version>1.3.0</version>
        </Mulberry_Warranty>
    </modules>
    <global>
        <models>
            <mulberry_warranty>
                <class>Mulberry_Warranty_Model</class>
                <resourceModel>mulberry_warranty_resource</resourceModel>
            </mulberry_warranty>
            <mulberry_warranty_resource>
                <class>Mulberry_Warranty_Model_Resource</class>
                <entities>
                    <queue>
                        <table>mulberry_warranty_queue</table>
                    </queue>
                </entities>
            </mulberry_warranty_resource>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Mulberry_Warranty_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
            <mulberry_warranty>
                <class>Mulberry_Warranty_Block</class>
            </mulberry_warranty>
            <catalog>
                <rewrite>
                    <product_view_options>Mulberry_Warranty_Block_Product_View_Options</product_view_options>
                    <product_view_type_configurable>Mulberry_Warranty_Block_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <mulberry_warranty>
                <class>Mulberry_Warranty_Helper</class>
            </mulberry_warranty>
        </helpers>
        <resources>
            <mulberry_warranty_setup>
                <setup>
                    <module>Mulberry_Warranty</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </mulberry_warranty_setup>
        </resources>
        <catalog>
            <product>
                <type>
                    <warranty translate="label" module="mulberry_warranty">
                        <label>Warranty Product</label>
                        <model>mulberry_warranty/product_type_warranty</model>
                        <composite>0</composite>
                        <index_priority>30</index_priority>
                    </warranty>
                </type>
            </product>
        </catalog>
        <events>
            <order_cancel_after>
                <observers>
                    <mulberry_cancel_order>
                        <type>singleton</type>
                        <class>mulberry_warranty/observer_api</class>
                        <method>cancelOrder</method>
                    </mulberry_cancel_order>
                </observers>
            </order_cancel_after>
            <sales_order_place_before>
                <observers>
                    <mulberry_generate_uuid>
                        <type>singleton</type>
                        <class>mulberry_warranty/observer_api</class>
                        <method>generateOrderUuid</method>
                    </mulberry_generate_uuid>
                </observers>
            </sales_order_place_before>
            <checkout_submit_all_after>
                <observers>
                    <add_to_queue>
                        <class>mulberry_warranty/observer_api</class>
                        <method>addToQueue</method>
                    </add_to_queue>
                </observers>
            </checkout_submit_all_after>
        </events>
    </global>
    <crontab>
        <jobs>
            <mulberry_warranty_send_order>
                <schedule>
                    <cron_expr>5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mulberry_warranty/cron::sendOrder</model>
                </run>
            </mulberry_warranty_send_order>
            <mulberry_warranty_send_cart>
                <schedule>
                    <cron_expr>5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mulberry_warranty/cron::sendCart</model>
                </run>
            </mulberry_warranty_send_cart>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <mulberry_warranty>
                <use>standard</use>
                <args>
                    <module>Mulberry_Warranty</module>
                    <frontName>apps</frontName>
                </args>
            </mulberry_warranty>
        </routers>
        <layout>
            <updates>
                <mulberry_warranty module="Mulberry_Warranty">
                    <file>mulberry_warranty.xml</file>
                </mulberry_warranty>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <add_mulberry_warranty>
                        <type>singleton</type>
                        <class>mulberry_warranty/observer</class>
                        <method>addWarrantyProduct</method>
                    </add_mulberry_warranty>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_item_set_product>
                <observers>
                    <set_mulberry_warranty_product_name>
                        <type>singleton</type>
                        <class>mulberry_warranty/observer</class>
                        <method>setWarrantyProductName</method>
                    </set_mulberry_warranty_product_name>
                </observers>
            </sales_quote_item_set_product>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mulberry_warranty before="Mage_Adminhtml">Mulberry_Warranty_Adminhtml</mulberry_warranty>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mulberry_warranty>
                    <file>mulberry_warranty.xml</file>
                </mulberry_warranty>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <mulberry_warranty>
            <general>
                <active>1</active>
                <api_url>https://staging.getmulberry.com</api_url>
                <partner_url>https://partner-staging.getmulberry.com</partner_url>
                <platform_domain></platform_domain>
                <retailer_id></retailer_id>
                <private_token></private_token>
                <send_cart_data>1</send_cart_data>
            </general>
        </mulberry_warranty>
    </default>
</config>
