<?xml version="1.0"?>
<!--
/**
 * @category Mulberry
 * @version 1.0.0
 * @package Mulberry\Warranty
 * @author Mulberry <support@getmulberry.com>
 * @copyright Copyright (c) 2018 Mulberry Technology Inc., Ltd (http://www.getmulberry.com)
 * @license http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<config>
    <modules>
        <Mulberry_Warranty>
            <version>1.0.0</version>
        </Mulberry_Warranty>
    </modules>
    <global>
        <models>
            <mulberry_warranty>
                <class>Mulberry_Warranty_Model</class>
            </mulberry_warranty>
        </models>
        <blocks>
            <mulberry_warranty>
                <class>Mulberry_Warranty_Block</class>
            </mulberry_warranty>
            <catalog>
                <rewrite>
                    <product_view_options>Mulberry_Warranty_Block_Product_View_Options</product_view_options>
                    <product_view_type_configurable>Mulberry_Warranty_Block_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <mulberry_warranty>
                <class>Mulberry_Warranty_Helper</class>
            </mulberry_warranty>
        </helpers>
        <resources>
            <mulberry_warranty_setup>
                <setup>
                    <module>Mulberry_Warranty</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </mulberry_warranty_setup>
        </resources>
        <catalog>
            <product>
                <type>
                    <warranty translate="label" module="mulberry_warranty">
                        <label>Warranty Product</label>
                        <model>mulberry_warranty/product_type_warranty</model>
                        <composite>0</composite>
                        <index_priority>30</index_priority>
                    </warranty>
                </type>
            </product>
        </catalog>
    </global>
    <frontend>
        <routers>
            <mulberry_warranty>
                <use>standard</use>
                <args>
                    <module>Mulberry_Warranty</module>
                    <frontName>apps</frontName>
                </args>
            </mulberry_warranty>
        </routers>
        <layout>
            <updates>
                <mulberry_warranty module="Mulberry_Warranty">
                    <file>mulberry_warranty.xml</file>
                </mulberry_warranty>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <add_mulberry_warranty>
                        <type>singleton</type>
                        <class>mulberry_warranty/observer</class>
                        <method>addWarrantyProduct</method>
                    </add_mulberry_warranty>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_item_set_product>
                <observers>
                    <set_mulberry_warranty_product_name>
                        <type>singleton</type>
                        <class>mulberry_warranty/observer</class>
                        <method>setWarrantyProductName</method>
                    </set_mulberry_warranty_product_name>
                </observers>
            </sales_quote_item_set_product>
            <checkout_submit_all_after>
                <observers>
                    <mulberry_send_order>
                        <class>mulberry_warranty/observer</class>
                        <method>sendOrder</method>
                    </mulberry_send_order>
                    <mulberry_send_cart>
                        <class>mulberry_warranty/observer</class>
                        <method>sendCart</method>
                    </mulberry_send_cart>
                </observers>
            </checkout_submit_all_after>
            <order_cancel_after>
                <observers>
                    <mulberry_cancel_order>
                        <class>mulberry_warranty/observer</class>
                        <method>cancelOrder</method>
                    </mulberry_cancel_order>
                </observers>
            </order_cancel_after>
        </events>
    </frontend>
    <default>
        <mulberry_warranty>
            <general>
                <active>1</active>
                <api_url>https://staging.getmulberry.com</api_url>
                <partner_url>https://partner-staging.getmulberry.com</partner_url>
                <platform_domain></platform_domain>
                <retailer_id>interiordefine.com</retailer_id>
                <api_token>wI6VBTxu9uxa34AwFSFjxE7RJI8</api_token>
                <send_cart_data>1</send_cart_data>
            </general>
        </mulberry_warranty>
    </default>
</config>
